.fb_disclaimer-wrapper{
    position: fixed;
    background: #fff;
    width: 90%;
    max-width: 650px;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    z-index: 1000;
    padding: 20px;
    text-align: center;
    -webkit-box-shadow: 0px 0px 68px 0px rgba(0,0,0,0.63);
    -moz-box-shadow: 0px 0px 68px 0px rgba(0,0,0,0.63);
    box-shadow: 0px 0px 68px 0px rgba(0,0,0,0.63);
    .fb_close-button{
        position: absolute;
        top: 0;
        right: 0;
    }
}

.fb_themeColor{
    color: #d6b052;
}
.fb_close-button {
    padding: 10px;
    background-color: transparent;
    border: none;
    img{
        width: 15px;
    }    
}

.fb_shop-popup{
    border: 3px solid #D6B052;
    max-width: 600px;
    ._logo{
        width: 114px;
    }
    h1{
        text-align: center;
        font-size: 50px;
        line-height: 45px;
        font-family: 'minion-pro';
        padding-top: 0;
        margin-bottom: 15px;
        strong{
            color: #D6B052;
        }
    }
    strong{
        font-weight: 900;
    }
    p{
        font-size: 16px;
    }
}