._restaurant-list{
  max-width: 770px;
  margin: 0 auto;
  width: 100%;
}

._restaurant-item{
  width: 100%;
  background-color: #fff;
  border: 1px solid #EDEDED;
  border-radius: 10px;
  margin-bottom: 30px;
  padding: 30px;
  @media(min-width: 1101px){
    padding: 40px 50px;
    transition: 0.25s;
    &:hover{
      box-shadow: 0px 10px 10px #00000008;
    }
  }
}

._heading-container{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
  align-items: center;
  margin-bottom: 30px;
  h2{
    font-weight: 600 !important;
    margin-bottom: 0;
  }
}

._buttons{
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: flex-end;
  ._book-here{
    color: #fff!important;
    background: #5B2B81 !important;
    border: 2px solid #5B2B81;
  }
  ._share{
    color: #5B2B81!important;
    border: 2px solid #5B2B81; 
    &.hover{
      background-color: #fff;
    }
  }
}

._item-content{
  p{
    a{
      color: inherit;
    }
  }
  ._divider{
    width: 1px;
    height: 15px;
    background-color: #EDEDED;
    margin: 0 10px;
    display: inline-block;
  }
}

._purple-underline{
  color: #5B2B81!important;
  text-decoration: underline;
}

._wines-avail{
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

._cultivar-tag{
  background-color: #EDEDED;
  border-radius: 100px;
  border: 1px solid #EDEDED;
  height: 38px;
  padding: 15px;
  display: flex;
  align-items: center;
  font-size: 14px;
}

