$themeGold: #D6B052;

.c_error{
    color: #dc3545;
    font-size: 14px;
}

.c_button{
    background-color: $themeGold;
    color: #fff;
    padding: 12px 20px;
    border-radius: 3px;
    display: inline-block;
    height: 50px;
    text-transform: uppercase;
    border: none;
    font-size: 14px;
    &:hover{
        color: #fff;
        background-color: $themeGold;
    }
}

.c_section{
    .c_theme-color{
        color: $themeGold;
    }
    strong{
        font-weight: 600;
    }
    .c_par{
        font-size: 18px;
        margin-bottom: 20px;
    }
    
    .c_col{
        @media(min-width: 700px){
            width: 50%;
        }
    }
    @media(min-width: 700px){
        display: flex;
        justify-content: center;
    }
    .c_headline{
        font-size: 28px;
        margin-bottom: 20px;
        @media(min-width: 700px){
            font-size: 30px;
        }
        @media(min-width: 1000px){
            font-size: 34px;
        }
    }
}

.c_section1{
    margin-top: -105px;
    @media(min-width: 1101px){
        margin-top: -167px;
    }
    .c_logo{
        margin-bottom: 30px;
        img{
            width: 150px;
            @media(min-width: 700px){
                width: 180px;
            }
            @media(min-width: 1000px){
                width: 200px;
            }
        }
    }
    
    .c_col1{
        padding: 30px 20px;
        text-align: center;
        @media(min-width: 700px){
            text-align: left;
            padding: 30px 30px 90px 30px;
            width: 50%;
            max-width: 530px;
        }
        @media(min-width: 1000px){
            padding: 30px 60px 180px 90px;
            width: 100%;
            max-width: 550px;
        }
    }
    .c_col2{
        @media(min-width: 1000px){            
            width: 100%;
        }
    }
    .c_image{
        background-position: left center;
        background-size: cover;
    }
}



.c_section2{
    margin-top: 30px;
    .c_image{
        width: 100%;
        padding-bottom: 145%;
        background-position: center;
        background-size: cover;
    }
    .c_col2{
        padding: 60px 20px;
    }
    .c_subheading{
        font-size: 22px;
    }
    .c_list{
        padding-left:18px;
    }
    .c_button{
        margin-bottom: 30px;
    }
    .c_image2{
        max-width: 100%;
    }
    @media(min-width: 700px){
        margin-top: 90px;
        .c_image{
            width: calc(50% - 45px);
            padding-bottom: 0;
            margin-left: 30px;
            margin-right: 15px;
        }
        .c_col2{
            padding: 0 30px 0 15px;
        }
    }
    @media(min-width: 1000px){
        .c_image{
            width: 35%;
            max-width: calc(50% - 90px);
            margin-left: 90px;
        }
        .c_col2{
            width: 65%;
            padding:0 90px;
        }
    }
}

.c_section3{
    .c_col{
        padding: 20px;
    }
    .c_heading{
        color: $themeGold;
        margin-top: 30px;
        margin-bottom: 15px;
    }
    .c_button{
        margin-top: 30px;
    }
    @media(min-width: 700px){
        .c_col{
            width: 100%;
            max-width: 700px;
        }
    }
    .form-group{
        text-align: left;
    }
    input#mobile{
        padding-left: 10px;
    }
}

.c_section4{
    .c_col{
        padding: 0 20px 60px 20px;
        text-align: center;
    }
    h2{
        font-size: 30px!important;
    }
    .c_heading{
        color: $themeGold; 
        margin-bottom: 30px; 
        padding-top: 60px; 
    }
    .c_image{
        max-width: 100%;
        margin-bottom: 30px; 
    }
    .c_par{
        margin-bottom: 30px; 
    }
    .c_subheading{
        color: $themeGold;
    }
    .c_list{
        margin-bottom: 30px;
        padding-left: 0;
        li{
            list-style: none;
        }
    }
    @media(min-width: 700px){
        .c_col{
            width: 100%;
            max-width: 700px;
        }
        h2{
            font-size: 40px!important;
        }
    }
    @media(min-width: 1000px){
        h2{
            font-size: 50px!important;
        }
    }
}

.c_thankyou{
    margin-top: -105px;
    height: 100vh;
    @media(min-width: 1101px){
        margin-top: -167px;
    }
    .c_logo{
        margin-bottom: 30px;
        img{
            width: 150px;
            @media(min-width: 700px){
                width: 180px;
            }
            @media(min-width: 1000px){
                width: 200px;
            }
        }
    }
    
    .c_col1{
        padding: 30px 20px;
        text-align: center;
        @media(min-width: 700px){
            text-align: left;
            padding: 30px 30px 90px 30px;
            width: 50%;
            max-width: 530px;
        }
        @media(min-width: 1000px){
            padding: 30px 60px 180px 90px;
            width: 100%;
            max-width: 550px;
        }
    }
    .c_col2{
        @media(min-width: 1000px){            
            width: 100%;
        }
    }
    .c_image{
        background-position: left center;
        background-size: cover;
    }
    .c_headline{
        font-size: 40px;
        margin-bottom: 20px;
        color: $themeGold;
        @media(min-width: 700px){
            font-size: 50px;
        }
        @media(min-width: 1000px){
            font-size: 60px;
        }
    }
    .c_par2{
        margin-bottom: 0;
    }
    .c_icons{
        margin-bottom: 20px;
    }
    .c_subheading{
        a{
            color: $themeGold;
            font-size: 24px;
            text-decoration: underline;
            @media(min-width: 700px){
                font-size: 28px;
            }
            @media(min-width: 1000px){
                font-size: 30px;
            }
        }
    }
}
.c_icons{
    .c_icon{
        margin-right: 10px;
    }
}

.c_tandc{
    a{
        color: #0A0A14;
        text-decoration: underline;
    }
}

.fail_error {
	color: #dc3545;
	font-size: 20px;
	margin-top: 30px;
	border: 1px solid #dc3545;
	border-radius: 3px;
	padding: 10px 20px;
}

.social_share-list{
    display: flex;
    padding-left: 0;
    justify-content: center;
    li{
        list-style: none;
        padding-right: 10px;
    }
    @media(min-width: 700px){
        justify-content: flex-start;
    }
}

.c_section4{
    position: relative;
}
.c_overlay{
    width: 100%;
    position: absolute;
    background-color: #FAFAFA;
    padding-bottom: 47%;
    top: 0;
    left: 0;
    z-index: -1;
    @media(min-width: 700px){
        padding-bottom: 400px;
    }
}

.themeGold{
    color: #d6b052;
}