
@import url("http://fast.fonts.net/t/1.css?apiType=css&projectid=43842519-7207-4392-be50-bc9b5d66711d");
@font-face{
font-family:"Minion W01 Cap Regular";
src:url("f1eed122-a501-4c59-85e4-4db18384cf87.eot?#iefix");
src:url("f1eed122-a501-4c59-85e4-4db18384cf87.eot?#iefix") format("eot"),url("a87bb921-3486-4a72-ae9b-95da5497189c.woff2") format("woff2"),url("c30f5672-a88d-407a-bf93-926f33c9d872.woff") format("woff"),url("f008cedb-28d1-4788-aab9-82d6877f3939.ttf") format("truetype"),url("6f6cb6b6-28c0-4542-b435-5e2ba7ed5a81.svg#6f6cb6b6-28c0-4542-b435-5e2ba7ed5a81") format("svg");
}
@font-face{
font-family:"Minion W01 Md Cap";
src:url("f157f8ae-bea8-4972-a37d-4d98542a6863.eot?#iefix");
src:url("f157f8ae-bea8-4972-a37d-4d98542a6863.eot?#iefix") format("eot"),url("2b4979e8-6214-4ac7-bd09-42a1a682f728.woff2") format("woff2"),url("73629dbd-9951-4747-8ee6-9319d7eff2b4.woff") format("woff"),url("c5fef4ed-7efb-4a16-9f14-264af1d08f64.ttf") format("truetype"),url("3360982e-1f43-4ee8-9689-e57315d2b6e8.svg#3360982e-1f43-4ee8-9689-e57315d2b6e8") format("svg");
}
@font-face{
font-family:"Minion W01 Bd Cap";
src:url("c8cf93ac-59d2-4426-b24b-dfa2c63f929f.eot?#iefix");
src:url("c8cf93ac-59d2-4426-b24b-dfa2c63f929f.eot?#iefix") format("eot"),url("d757e6f6-c225-4ba9-aa5b-bd2425ffd187.woff2") format("woff2"),url("b54a365c-29ae-4e3a-a81b-83bd46f6603b.woff") format("woff"),url("68d41320-09b0-4bda-80e6-7b7196dae5e7.ttf") format("truetype"),url("2be5f201-1378-4cd0-8bb9-c4e68d975852.svg#2be5f201-1378-4cd0-8bb9-c4e68d975852") format("svg");
}
@font-face{
    font-family:"Minion Pro";
    src:url("MinionPro-Regular.eot?#iefix");
    src:url("MinionPro-Regular.eot?#iefix") format("eot"),url("MinionPro-Regular.woff2") format("woff2"),url("MinionPro-Regular.woff") format("woff"),url("MinionPro-Regular.ttf") format("truetype"),url("MinionPro-Regular.svg#MinionPro-Regulars") format("svg");
}
